body{
font-family: 'Gloria Hallelujah', cursive;
margin:0px;
}
.mainWraper{
	position: relative;
	width: 100%;
	height: 100vh;
	background: #f9f9f9;
	margin:0px;
	overflow: hidden;

}
.mainWraper section{
	position: absolute;
	left: -30vw;
	bottom: -30vw;
}
.mainWraper section svg{
	
	width:70vw;
	z-index: 0;
}
.helloText h4{
	position: absolute;
	top:20vh;
	left: 33vw;
	font-size:10vw;
	font-weight: bold;
	margin: 0;
	color: #cccccc;
	z-index: 1;
}
.whitePlain{
	position: absolute;
	border-radius: 5%;
	bottom:10vh;
	right:5vw;
	width: 20vw;
	height: 15vw;
	background: #e6e6e6;
	box-shadow: 2px 2px 2px #e6e6e6;
}
.second{
	width: 100%;
	height: 100vh;
}
.wraperText{
	position: absolute;
	bottom:10vh;
	right:8vw;
	text-align: right;
}
.wraperText h2{
	font-size:5vw;
	line-height: 1;
	margin-bottom:0;
	margin-top:0;
}
.wraperText h4{
    font-size:1.5vw;
    margin-top: 0;
    margin-bottom:0;
    color: #4d4d4d;
}
#r{
	z-index: -20;
}




.water{
  top:0;
  position:absolute;
  min-height:2500px;
}

.text{
  position:absolute;
  z-index:-10;
  width:2vw;
  height:2vw;
   background:black;
  background-size: cover;
  z-index: 5;
}



.about {
  position: relative;
  height:100vh;
  overflow:hidden;
}
.about .about-content{
  position: absolute;
  left: 0px;
  width:50%;
  top:15vh;
  padding:5%;
  float: left;
  z-index: 2;

}
.about .grayPlain{
	position: absolute;
	width: 40vw;
	height: 25vw;
	left: 2vw;
	top:25vh;
	background: #e6e6e6;
	border-radius: 5%;
	z-index: 0;
}

.about-svg{
  position: absolute;
  right: 0px;
  bottom:-40vh;
  float: right;
  width:20%;
  padding: 10%;

}
.about-svg .rm{
	width: 100%;
	height:100%;
	background: url('images/rm.gif');
}
.about-toggle{
  position: absolute;
  right: 0px;
  top:-10vh;
  float: right;
  width:50%;

}
.svg-background{

}



.some{
  position: relative;
  overflow:hidden;
  white-space:nowrap;
  width: 100%;
}
#left, #right, #middle {
	  position: relative;
    display:inline-block;
    width: 33.3%;
    overflow:hidden;
    height: 45vw;

}
#left  img{
      top:20vh;
      width: 300%;
      position: absolute;
}
#right svg{
    top:20vh;
   width: 300%;
   position: absolute;
   left: -200%;
}
#middle img{
    top:20vh;
     width: 300%;
    position: absolute;
    left: -100%;
}
