body{
font-family: 'Gloria Hallelujah', cursive;
margin:0px;
}

nav{
  display: inline;
  position: fixed;
  z-index: 50; 
  overflow: hidden;
  background: #f9f9f9;
  width: 100%;
}
nav .logo{
  position: fixed;
  left: 30px;
  top: 30px;
  background: #000;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
nav .logo h1{
  position: absolute;
  vertical-align: center;
  color: #fff;
  top: 3%;
  left: 20%;
}

nav .contact{
  position: fixed;
  display: none;
  right: 30px;
  top: 20px;
}
a{
  text-decoration: none !important;
}
nav .contact h2{

  vertical-align: center;
  color: #fff;
  line-height:40px;
  padding:5px;
  padding-right: 15px;
  padding-left: 15px;
  background: #000;
  border-radius:30px;
}
nav .twitter{
  position: fixed;
  right: 30px;
  top: 30px;
  background: #000;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}



.mainWraper{
	position: relative;
	width: 100%;
	height: 100vh;
	background: #f9f9f9;
	margin:0px;
	overflow: hidden;
}
.mainWraper section{
	position: absolute;
	left: -30vw;
	bottom: -30vw;
}
.mainWraper section .circle{
	
	width:70vw;
  height: 70vw;
	z-index: 0;
  background: url(circle.svg);
  background-size: cover;
}
.helloText h4{
	position: absolute;
	top:20vh;
	left: 33vw;
	font-size:10vw;
	font-weight: bold;
	margin: 0;
	color: #cccccc;
	z-index: 1;
}
.whitePlain{
	position: absolute;
	border-radius: 5%;
	bottom:10vh;
	right:10vw;
	width: 20vw;
	height: 15vw;
	background: #e6e6e6;
	box-shadow: 2px 2px 2px #e6e6e6;
}

.wraperText{
	position: absolute;
	bottom:10vh;
	right:13vw;
	text-align: right;
}
.wraperText h2{
	font-size:5vw;
	line-height: 1;
	margin-bottom:0;
	margin-top:0;
}
.wraperText h4{
    font-size:1.5vw;
    margin-top: 0;
    margin-bottom:0;
    color: #4d4d4d;
}
#r{
	z-index: -20;
}
.water{
  top:0;
  position:absolute;
  min-height:2500px;
}

.text{
  position:absolute;
  z-index:-10;
  width:2vw;
  height:2vw;
   background:black;
  background-size: cover;
  z-index: 5;
}


.second{
  width: 100%;
}
.second .about {
  position: relative;
  overflow:hidden;
}
.second .about .about-content{
  width:90%;
  padding:5%;
  padding-bottom: 2%;
  padding-top: 2%;
  float: left;
  z-index: 2;
}
.second .about .about-content p{
  font-size: 1.5vw;
  line-height: 30px;
}


.some{
  position: relative;
  overflow:hidden;
  white-space:nowrap;
  width: 100%;
  background: #f9f9f9;
}
.some h1{
  top: 10px;
  font-size: 10vw;
  line-height: 8vw;
  vertical-align: center;
  text-align: center;
  color: #cccccc;
  margin: 10px;
  padding-top: 20px;
}
.some .skills{
  float: left;
  left: 0px;
  width: 40%;
  padding-left: 10%;
}

.some .skills li{
  font-size: 2vw;
  line-height: 3vw;
}
.some .taj{
  float: right;
  right: 0px;
  padding:10%;
  width: 30%;
  padding-top: 0%;
  padding-bottom: 0%;
}